.register-container {
    display: flex;
    min-height: 66vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
    //background: #fe762c;
    background-image: url("../../images/45581115_1923811054400152_5383449971745882112_o.jpg");
    font-family: 'Arial';
    margin-top: 10px;

    .container-form-register {
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
        margin-left: 200px;
    }

    .logo {
        width: 300px;
        //margin-right: 200px;
    }

    .register-label {
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
    }

    .register-input {
        width: 350px;
        text-align: center;
        font-size: 18px;
        margin-left: 25px;

        .ant-input-affix-wrapper {
            height: 40px;
        }
    }

    .ant-form-item {
        text-align: center;
    }
}